body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner{
    text-align: center;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 500px;
}
.banner h1{
    padding-top: 100px;
    color: red;
    font-size: 60px;
}
.banner h3{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.linked-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 3px 15px;
    border-radius: 5px;
}

.donation-causes{
    display: flex;
    margin-top: 80px;
}
.half-width{
    width: 40%;
    margin: 10px 100px;
}
.half-width h1{
    font-size: 40px;
}
#donation-causes-image{
    width: 100%;
    padding-top: 50px;
}

.subscription-area{
    margin-top: 100px;
    text-align: center;
}
.subscription-area h1{
    font-size: 40px;
}
#center-paragraph{
    margin-left: 340px;
    margin-bottom: 50px;
    width: 50%;
}
.form{
    background-color: rgba(255, 255, 0, 0.185);
    width: 60%;
    height: 100px;
    margin-left: 270px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 70px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 30px 0;
}
footer h1{
    color: tomato;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
footer h6{
    color: white;
    font-size: 12px;
    font-weight: 100;
}