body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner{
    text-align: center;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 500px;
}
.banner h1{
    padding-top: 100px;
    color: red;
    font-size: 60px;
}
.banner h3{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.linked-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
}

/* ----------------------------- Donate Today Area --------------------------- */

.donate-today-area{
    margin-top: 100px;
    text-align: center;
}
.donate-today-area h1{
    font-size: 40px;
}
.donate-today-area p{
    margin-bottom: 50px;
}
.inline-amounts{
    display: inline;
    margin: 20px 10px;
    padding: 20px 10px;
    background-color: rgba(221, 255, 71, 0.288);
}
.orange-amount{
    border: 1px solid tomato;
    border-radius: 5px;
    color: tomato;
}
#input-amount{
    margin-top: 90px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}

/* ----------------------------- Donate plane Area --------------------------- */

.donate-plan-area{
    margin-top: 100px;
    text-align: center;
}
.donate-plan-area h1{
    font-size: 40px;
}
.donate-plan-flexible{
    margin-top: 50px;
    margin-left: 90px;
    display: flex;
}
.donate-plan-box{
    width: 25%;
    margin-left: 30px;
    padding: 60px 20px;
    text-align: justify;
    background-color: rgba(255, 255, 0, 0.418);
    border-radius: 10px;
}

/* ---------------------------- Donation causes Area ------------------------- */

.donation-causes{
    display: flex;
    margin-top: 80px;
}
.half-width{
    width: 40%;
    margin: 10px 100px;
}
.half-width h1{
    font-size: 40px;
}
#donation-causes-image{
    width: 100%;
    padding-top: 50px;
}

/* ----------------------------- Subscription Area -------------------------- */

.subscription-area{
    margin-top: 100px;
    text-align: center;
}
.subscription-area h1{
    font-size: 40px;
}
#center-paragraph{
    margin-left: 340px;
    margin-bottom: 50px;
    width: 50%;
}
.form{
    background-color: rgba(255, 255, 0, 0.418);
    width: 60%;
    height: 100px;
    margin-left: 270px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 70px;
}
#email-box{
    padding: 12px;
}

/* ------------------------------- Footer Area ------------------------------- */

footer{
    background-color: black;
    text-align: center;
    padding: 30px 0;
}
footer h1{
    color: tomato;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
footer h6{
    color: white;
    font-size: 12px;
    font-weight: 100;
}