body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner{
    text-align: center;
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 500px;
}
.banner h1{
    padding-top: 100px;
    color: red;
    font-size: 60px;
}
.banner h3{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.linked-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 3px 15px;
    border-radius: 5px;
}